
* { 
  box-sizing: border-box; 
  font-family: 'Avenir Next','Segoe ui',Ubuntu,sans-serif;
  scroll-behavior: smooth !important;
}

:root {
  --white-primary: #e1e1e1;
  --white-secondary: #e3e3e3;
  --gray-primary: #121212;
  --gray-secondary: #1e1e1e;
  --FW-navbar: #210002;
  --FW-navbarhover: #503700;
  --FW-navbar2:#ffaf00;
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden; /* no horizontal scroll bar */
}

main div {
  position: relative;
  height: 100%;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  transition: 0.6s;
  padding: 0px;
  z-index: 1;
  font-size: 25px;
  background: var(--gray-primary);
  color: var(--white-primary);
  line-height: 60px; /* how far navbar text from top of pages */
  
}

nav.sticky {
  background: var(--gray-secondary);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.7);
}


ul li {
  display: inline-block; /*displays nav bar correctly*/
}

ul li a {
  font-weight: bold;
  position: relative;
  margin: 0 5px;
  text-decoration: none;
  letter-spacing: 0px;
  transition: 0.4s;
  height: 60px; /*SET EQUAL TO LINE HEIGHT FOR BEST RESULT*/
  width: 190px;
  color: var(--white-secondary);
  display: inline-block;
  padding: 0;
  text-align: center; /* Sets the actual navbar to be center */
  text-decoration: none; /*no underlines for navbar*/

}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffc384;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%;
  left: 0; 
}



ul li a:hover {
  transition: all 130ms ease-in;
  border-radius: 7px;
    color: #ffc384;
}

.content {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 40px;
}

.content h1 {
  font-size: 70px;
  font-weight: bold;
  color: #262626;
  text-transform: uppercase;
  margin-bottom: 40px;
}


.content p {
  line-height: 1.5;
  margin: auto;
  color: var(--white-primary);
}
#about{
  background: var(--white-primary);
}
#home {
  background-color: var(--gray-primary);
}
#Projects {
  background: var(--white-secondary);
}

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.card{
  margin: auto;
  padding: 4em;
  overflow: auto;
  max-width: 1000px;
  background: white;
  box-shadow: 12px 12px 15px rgba(0,0,0,0.2);
}
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-transform: uppercase;
}
.card i {
  float: right;
}

