
* { box-sizing: border-box;}

:root {
  --white-primary: #e1e1e1;
  --white-secondary: #e3e3e3;
  --gray-primary: #121212;
  --gray-secondary: #1e1e1e;
  --FW-navbar: #210002;
  --FW-navbarhover: #503700;
  --FW-navbar2:#ffaf00;
  
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}



main {
  font-family: "Manrope", sans-serif;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

main div {
  position: relative;
  height: 100%;
}

header {
  text-align: center; /* Sets the actual navbar to be center */
  position: fixed;
  width: 100%;
  transition: 0.6s;
  padding: 0px;
  z-index: 1;
  text-decoration: none; /*no underlines for navbar*/
  font-size: 25px;
  background: var(--gray-primary);
  color: var(--white-primary);
  line-height: 90px; /* how far navbar text from top of pages */
}

header.sticky {
  background: var(--gray-secondary);
}


ul li {
  display: inline-block; /*displays nav bar correctly*/
}

ul li a {
  position: relative;
  margin: 0 5px;
  text-decoration: none;
  letter-spacing: 2px;
  transiton: 0.4s;
  height: 90px; /*SET EQUAL TO LINE HEIGHT FOR BEST RESULT*/
  width: 250px;
  color: #fff;
  display: inline-block;
  padding: 0;
  text-align: center; /* Sets the actual navbar to be center */
  text-decoration: none; /*no underlines for navbar*/

}



ul li a:hover {
  border-radius: 7px;
  background: var(--gray-secondary);
}
.container {
  font-family: "Manrope", sans-serif;
}
.content {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 40px;
}

.content h1 {
  font-size: 70px;
  font-weight: bold;
  color: #262626;
  text-transform: uppercase;
  margin-bottom: 40px;
}


.content p {
  line-height: 1.5;
  margin: auto;
  color: var(--white-primary);
}

#home {
  background-color: var(--gray-primary);
}

#Projects,
#Resume {
  background: #f3f3f3;
}