.theocean{
  height: 800px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.wave {
  animation: wave calc(var(--speed, 0) * 1s) infinite linear;
  background-image: url("infinite-wave.svg");
  background-size: 50% 100%;
  bottom: -5%;
  height: calc(var(--height, 0) * 1vh);
  left: 0;
  opacity: var(--opacity);
  position: absolute;
  right: 0;
  color:blue;
  width: calc(var(--width, 0) * 1vw);
}
@keyframes wave {
  to {
    transform: translate(-50%, 0);
  }
}
.wave:nth-of-type(2) {
  --height: 18;
  --opacity: 0.6;
  --speed: 250;
  --width: 800;
}
.wave:nth-of-type(3) {
  --height: 15;
  --opacity: 1;
  --speed: 250;
  --width: 400;
}
.wave:nth-of-type(5) {
  --height: 12;
  --opacity: 0.5;
  --speed: 200;
  --width: 800;
}

.bottom{
  transform: rotate(180deg);
}
