.theocean{

}

.wave {
  background: url(infinite-wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  opacity: 1;
  animation: wave 125s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate(0, 70px);
}

.wave:nth-of-type(2) {
  top: -198px;
  animation: wave 80s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  opacity: 0.7;
  transform: translate(-900px, 50px); 
}
.wave:nth-of-type(3) {
  top: -198px;
  animation: wave 60s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  opacity: 0.5;
  transform: translate(-200px, 5px);
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
